.cm-flowchart-editor {
  position: relative;
  height: 100%;
  width: 100%;
  .toolbar {
    width: 40px;
    height: 90%;
    position: absolute;
    left: 10px;
    top: 5%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    z-index: 1;
    .split {
      height: 1px;
      margin: 4px;
      background: #ccc;
    }
    .node-item {
      padding: 0 4px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
