$bor_wid: 2px;

.flowchart-object {
  position: absolute;
  // background: #fff;
  cursor: pointer;
  .flowchart-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
.jtk-endpoint.jtk-draggable.jtk-hover {
  cursor: crosshair;
}
.aLabel {
  background: #fff;
}